.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
        flex: 0 1 29rem;
        height: 47rem;
        padding: 1rem;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        & img {
            max-width: 37rem;
            max-height: 37rem;
        }
    }
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div,
    & button {
        text-align: center;
        flex: 1;
    }

    & div {
        font-size: 2rem;
    }
}

.product-details {
    display: flex;
    max-height: 96vh;
    max-width: 96vw;
    justify-content: space-between;
    flex-wrap: wrap;

    & img {
        max-height: 100vh;
        max-width: 46rem;
        margin: 0 auto;
    }

    &-description {
        flex: 1 1;
        margin: 1rem;
    }
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    z-index: 1000;
}
