html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body,
#root {
    height: 100vh;
    margin: 0;
}

body,
input,
select,
textarea {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background-color: #203040;
    color: #fff;
}

a:hover {
    color: #ff8000;
}

header a {
    text-decoration: none;
    color: #fff;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #203040;
    color: #fff;
}
